body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(197,225,223);
}

.card {
    min-width: 150px;
    min-height: 150px;
    border: 1px solid rgba(255, 255, 255, 0.83);
    margin: 0 10px 10px 10px;
    cursor: pointer;
    background-size: cover;
}

#board {
    max-width: 1080px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: auto;
}

#controlPanel {
    font-family: "Arial";
    color: #fcc2c2;
    background-color: rgba(255, 255, 255, 0.77);
    font-size: 20px;
    padding: 10px 100px;
    margin: 20px auto 70px;
}

.container {
    max-width: 1080px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#startGame {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 24px;
}

#startGame:hover{
    background-color: rgba(88,145,152, 0.8);
    color: white;
}

#scoreOutput {

    font-weight: bold;
}

@media (max-width: 1080px) {
    #board {
        width: 600px;
    }
}